== render partial: 'navbar', locals: { active: 'term' }
== render partial: 'navbar_term', locals: { active: 'piece' }
.container-fluid.my-5
  #tutorial_pieces_table
== javascript_pack_tag 'tutorial_piece_index.js'