@import 'bootstrap';
@import '~bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker';
@import '~select2/dist/css/select2';
@import '~select2-bootstrap-theme/dist/select2-bootstrap';

input[type=checkbox] {
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

.navbar-term {
  height: 40px;
  background-color: #eee;
  font-size: 12px;
  .nav-tabs {
    padding: 0 4px;
  }
  .nav-link {
    background-color: #eee;
    margin-top: 4px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .nav-link:hover {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .active {
    .nav-link {
      background-color: #fff;
      border-top: 1px solid #dee2e6;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #dee2e6;
      border-right: 1px solid #dee2e6;
    }
  }
}

.max-width-500 {
  max-width: 500px;
  margin: auto;
}

.bg-warning-light {
  background-color: #FFF0C6 !important;
}

.bg-info-light {
  background-color: #7EC1CF !important;
}

.min-width-50 {
  min-width: 50px;
}

.min-width-75 {
  min-width: 75px;
}

.min-width-100 {
  min-width: 100px;
}

.min-width-150 {
  min-width: 150px;
}

.min-width-200 {
  min-width: 200px;
}

.min-height-40 {
  min-height: 40px;
}

.min-height-60 {
  min-height: 60px;
}

.w-50px {
  width: 50px;
}
.w-150px {
  width: 150px;
}
.w-300px {
  width: 300px;
}
.h-30px {
  height: 30px;
} 
.h-60px {
  height: 60px;
} 

.table-wrapper {
  height: calc(100vh - 56px - 41px - 32px);
}

.table-wrapper__titled {
  height: calc(100vh - 56px - 41px - 32px - 54px);
}

.fixed1, .fixed2 {
  position: sticky;
  background-color: #FFF;
  top: 0;
  left: 0;
  border-top: none !important;
  border-bottom: none !important;
}

.fixed1 {
  z-index: 2;
}

.fixed2 {
  z-index: 1;
}
