@import 'bootstrap';
@import '~bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker';

.navbar-term {
  height: 40px;
  background-color: #eee;
  font-size: 12px;
  .nav-tabs {
    padding: 0 4px;
  }
  .nav-link {
    background-color: #eee;
    margin-top: 4px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .nav-link:hover {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .active {
    .nav-link {
      background-color: #fff;
      border-top: 1px solid #dee2e6;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #dee2e6;
      border-right: 1px solid #dee2e6;
    }
  }
}

.max-width-500 {
  max-width: 500px;
  margin: auto;
}

.bg-warning-light {
  background-color: #FFF0C6 !important;
}

.bg-info-light {
  background-color: #7EC1CF !important;
}
