// Place all the styles related to the classnumber controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.classnumber {
  .content {
    thead th {
      padding: 5px;
      height: 60px;
      background-color: white;
      border: 0.5px solid black;
      text-align: center;
    }
    tbody td {
      padding: 5px;
      height: 60px;
      background-color: white;
      border: 0.5px solid black;
      text-align: left;
    }
    .enable {
      background-color: #ffa500;
    }
    .disable {
      background-color: white;
    }
    .student {
      width: 140px;
      min-width: 140px;
    }
    .subject {
      width: 250px;
      min-width: 250px;
    }
    .group {
      width: 250px;
      min-width: 250px;
    }
    td.group {
      text-align: center;
    }
    .fTHLC-outer-wrapper {
      border: 2px solid black;
    }
  }
}
