.header {
  padding: 0px 30px 0px 30px;
  height: 60px;
  background-color: navy;
  color: white;
  font-size: 16px;
  .home {
    text-align: left;
  }
  .title {
    text-align: center;
  }
  .logout {
    text-align: right;
  }
  img.button {
    margin: 15px 10px 15px 10px;
  }
  img.logo {
    margin: 6px 0px 6px 0px;
    height: 48px;
    width: 160px;
  }
  .modal-room {
    color: black;
    table {
      width: 500px;
      margin: auto;
    }
    td.labels {
      width: 150px;
      height: 40px;
    }
    td.field {
      width: 300px;
      height: 40px;
    }
    td.req {
      width: 50px;
      height: 40px;
      color: red;
    }
    td.opt {
      width: 50px;
      height: 40px;
      color: blue;
    }
    .error-message {
      color: red;
    }
  }
}

.subheader {
  height: 40px;
  background-color: aliceblue;
  color: black;
  font-size: 12px;
  text-align: left;
  .nav-tabs {
    border-bottom-color: gray;
  }
  .nav-link {
    color: black;
    margin-top: 3px;
    height: 37px;
    border-color: gray;
    background-color: white;
  }
  .nav-link:hover {
    color: black;
    margin-top: 3px;
    height: 37px;
    border-color: gray;
    background-color: lightgray;
  }
  .active {
    .nav-link {
      color: black;
      margin-top: 3px;
      height: 37px;
      border-top-color: gray;
      border-left-color: gray;
      border-right-color: gray;
      background-color: silver;
    }
    .nav-link:hover {
      color: black;
      margin-top: 3px;
      height: 37px;
      border-top-color: gray;
      border-left-color: gray;
      border-right-color: gray;
      background-color: silver;
    }
  }
}

.content{
  padding: 20px 30px 20px 30px;
  background-color: silver;
  color: black;
  font-size: 16px;
}

.footer{
  height: 20px;
  background-color: navy;
  color: white;
  font-size: 12px;
  text-align: center;
}


