// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  margin: 150px 0;
  width: 320px;
}

.form-control {
  margin: 1rem 0;
}

.form-submit {
  margin: 1rem 0;
}