// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.piece-index {
  .ui-droppable-active {
    background-color: red;
  }
  .pool {
    bottom: 0;
    filter: drop-shadow(2px -1px 2px #888);
    position: fixed;
    right: 100px;
    width: 300px;

    .pool-head {
      background-color: lemonchiffon;
      border: 1px solid #ddd;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      cursor: pointer;
      transform: translateY(1px);
      text-align: center;
      width: 40px;
    }

    .pool-body {
      background-color: lemonchiffon;
      border: 1px solid #ddd;
      max-height: 500px;
      padding: 20px;
      transition: all 0.5s linear;

      &.pool-body__closed {
        max-height: 0;
      }

      .holding {
        background-color: white;
        border: 1px solid #ddd;
        margin: 30px auto 10px;
        height: 30px;
        width: 150px;
      }
    }
  }
}
