// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.schedule {
  text-align: center;
  .domain1 {
    background-color: white;
    table {
      margin: 0;
      background-color: white;
      font-size: 16px;
    }
    th {
      margin: auto;
      padding: 0px;
      height: 52px;
      text-align: center;
      border: 0;
    }
    td {
      margin: auto;
      padding: 0px;
      height: 26px;
      text-align: center;
      border: 0;
      background-color: white;
    }
    .date {
      width: 80px;
      min-width: 80px;
    }
    .class {
      width: 50px;
      min-width: 50px;
    }
    .seat {
      width: 50px;
      min-width: 50px;
    }
    .koma {
      background-color: white;
      width: 150px;
      min-width: 150px;
    }
    .koma-left-head {
      border-left: 0.5px solid black;
    }
    .koma-right-head {
      border-right: 0.5px solid black;
    }
    .koma-top-head {
      border-top: 0.5px solid black;
      border-bottom: 0.25px dotted black;
    }
    .koma-center-head {
      border-top: 0.25px dotted black;
      border-bottom: 0.25px dotted black;
    }
    .koma-bottom-head {
      border-top: 0.25px dotted black;
      border-bottom: 0.5px solid black;
    }
    .koma-left {
      border-left: 1px solid black;
      border-right: 0.5px dotted black;
    }
    .koma-right {
      border-right: 0.5px solid black;
      border-right: 1px dotted black;
    }
    .koma-top {
      border-top: 1px solid black;
      border-bottom: 0.5px dotted black;
    }
    .koma-center {
      border-top: 0.5px dotted black;
      border-bottom: 0.5px dotted black;
    }
    .koma-bottom {
      border-top: 0.5px dotted black;
      border-bottom: 1px solid black;
    }
    td.koma-disable {
      background-color: gray;
    }
    td.koma-group-enable {
      background-color: #ffe2b2;
    }
    td.koma-group-disable {
      background-color: gray;
    }
    .fTHLC-outer-wrapper {
      border: 2px solid black;
    }
    .fTHLC-inner-wrapper {
      border: 1px solid black;
    }
    .fTHLC-outer-corner {
      background-color: white;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
  select.candidate {
    height: 23px;
    width: 90px;
    padding: 0;
    margin: 0px 4px 0px 0px;
    font-size: 10.5px;
    vertical-align: middle;
    background-color: #fff;
  }
  select.candidate-exist {
    background-color: #ffa500;
  }
  button.candidate {
    height: 18px;
    width: 35px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-size: 10px;
  }
  .dragbox {
    height: 24px;
    width: 149px;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
  }
  .leftside {
    width: 116px;
    float: left;
    text-align: center;
    margin-top: 2px;
  }
  .rightside {
    width: 30px;
    float: right;
    text-align: left;
  }
  .dropbox {
    background-color: white;
    border: 0;
    height: 24px;
    width: 149px;
    font-size: 15px;
    margin: auto;
  }
  .fixed {
    border: 1.5px groove #ffe2b2;
    background-color: #ffe2b2;
  }
  .unfixed {
    border: 1.5px ridge #ffe2b2;
    background-color: #ffa500;
  }
  .puttable {
    background-color: lightblue;
  }
  .unputtable {
    background-color: gray;
  }
  .button {
    margin-top: 10px;
    .btn-lock {
      background-color: #ffe2b2;
    }
    .btn-unlock {
      background-color: #ffa500;
    }
    button {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}


