// Place all the styles related to the studentschedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.studentschedule {
  .domain {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    table {
      background-color: white;
      border-color: black;
      font-size: 16px;
      width: auto;
      margin: auto;
    }
    thead,tbody {
      display: block;
    }
    tbody {
      overflow-y: scroll;
      max-height: 430px;
    }
    th.name, td.name {
      border-color: black;
      height: 32px;
      width: 160px;
      min-width: 80px;
      text-align: center;
    }
    th.grade, td.grade {
      border-color: black;
      height: 50px;
      width: 60px;
      min-width: 60px;
      text-align: center;
    }
    th.gender, td.gender {
      border-color: black;
      height: 50px;
      width: 60px;
      min-width: 60px;
      text-align: center;
    }
    th.unscheduled, td.unscheduled {
      border-color: black;
      height: 50px;
      width: 80px;
      min-width: 60px;
      text-align: center;
    }
    th.print, td.print {
      border-color: black;
      height: 50px;
      width: 80px;
      min-width: 60px;
      text-align: center;
    }
    th.alert, td.alert {
      background-color: #ffa500;
    }
    div.links {
      margin-top: 10px;
      font-size: 16px;
    }
  }
}
